*{
    margin : 0;
    padding : 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    box-sizing : border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* nav bar*/
nav{
    height: 80px;
    width: 100%;
    background-color: #0B0633;
    z-index: 10;
}

label.logo{
    line-height: 80px;
    padding : 0 100px;
}

nav ul{
    float : right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding : 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li .Disconnect{
    border-radius: 30px;
    background: #3b375b;
    color: white;
    padding : 7px 13px;
    transition: .5s;
    margin: 0 15px;
    text-transform: none;

}

nav a.active , nav a:hover {
    background-color: #3b375b;
    color: yellow;
    transition: .5s;
}

.checkBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1316px) {
    label.logo{
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .checkBtn{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #3b375b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s easy;
        z-index: 20;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li .Disconnect{
        color: white;
    }
    a:hover,a.active{
        background: none;
        color: yellow;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* LoginPage CSS*/
.loginInBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0B0633;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #3b375b;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top:-50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(135deg, #3b375b, yellow);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(135deg, #3b375b, yellow);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #0B0633;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color : yellow;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color : #0B0633;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: gray;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color : yellow;
    transform: translateY(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: yellow;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.loginInBody input[type="submit"]{
    border: none;
    outline: none;
    background: yellow;
    padding: 11px 11px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.texteErreur{
    margin-top: 30px;
    color: yellow;
}

/* PlayerList css*/
h1.pageTitle{
    width : 100%;
    text-align: center;
    padding: 2%;
}

.addButton{
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
}

.addButton button{
    float : right;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0B0633;
    border: none;
    border-radius: 15px;
}

.tablePlayer{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table button, .modifyButton{
    background: #0B0633;
    border-radius: 15px;
    padding: 3px 10px;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0B0633;
    color: white;
}

/* AddPlayer css*/
.addPlayerBody, .modifyPlayerBody{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0B0633, yellow );
}

.container{
    max-width: 70%;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content :'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #3b375b, yellow );
}

.container form .playerDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .playerDetails .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.playerDetails .input-box input , .playerDetails .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.playerDetails .input-box input:focus , .playerDetails .input-box input:valid{
    border-color: #3b375b ;
}

.playerDetails .input-box select:focus, .playerDetails .input-box select:valid{
    border-color: #3b375b ;
}

.playerDetails .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3b375b, yellow );
}

form .button input:hover{
    background: linear-gradient(-135deg, #3b375b, yellow )
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .playerDetails .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .playerDetails{
        max-height:  300px;
        overflow: scroll;
    }

    .playerDetails::-webkit-scrollbar{
        width: 0;
    }
}

/* Add Match css*/

.addMatchBody {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0B0633, yellow );
}

.container form .matchDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .matchDetails .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.matchDetails .input-box input , .matchDetails .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.matchDetails .input-box input:focus , .matchDetails .input-box input:valid{
    border-color: #3b375b ;
}

.matchDetails .input-box select:focus, .matchDetails .input-box select:valid{
    border-color: #3b375b ;
}

.matchDetails .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

@media (max-width: 584px) {
    form .matchDetails .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .matchDetails{
        max-height:  300px;
        overflow: scroll;
    }

    .matchDetails::-webkit-scrollbar{
        width: 0;
    }
}

/*SetTeam php*/
select {
    border: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 96%;

}

#tableAddPlayer{
    padding: 50px;
}

.abnormalities {
    background-color: #FFBABA;

}

.abnormalities option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

select::-ms-expand { display: none; }

#tableAddPlayer td{
    padding: 5px;
}

#tableAddPlayer .tooltipSuggestion{
    display: none;
    position: absolute;
    background-color: #555;
    opacity: 0.7;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    /* Position the tooltip */
    z-index: 1;
}

#tableAddPlayer td:hover .tooltipSuggestion {
    display : block;
}

/*Bouton supprimer au milieu de sa cellule*/
#tableAddPlayer button {

    display: block;
}

/*Bouton ajouter un joueur a droite de sa div*/
#addPlayerButton, #validateButton input{
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0B0633;
    border: none;
    border-radius: 15px;
}

#addPlayerButton{
    float: right;
    text-align: right;
}

#validateButton{
    display: flex;
    justify-content: center;
}
#validateButton input{
    margin-bottom: 30px;
    font-size: 26px;
}

/*ListResult CSS*/

/* Table sur la gauche de la page */
#resultatMatch {
    width:40%;
    float:left;
}

td + td{
    text-align:left;
}

/* les deux tables sont cote a cote*/
#resultatMatch, #resultatJoueur {
    display:inline-block;
    margin-left:50px;
}

/* Table sur la droite de la page */
#resultatJoueur {
    width:50%;
    float:right;
}

/* Les noms d'équipes sont chahcun au dessus de leur colonne du tableau */
#resultatMatch table tr:first-child td {
    color:black;
    text-align:center;
    padding-left:8px;
    background-color:transparent;
    border: none;
    padding-bottom:50px;
    font-size:25px;
    font-weight:bold;
}

table tr:first-child:hover {
    background-color:transparent;
}

table tr:first-child td {
    background-color:transparent;
    border: none;
}

.nomEquipe:nth-child(1) {
    margin-left:250px;
}

#setNumber{
    width:50px;
    text-align:center;
}

.resultat {
    width:80%;
}

#score{
    width: 0 auto;
}

.setScore input{
    width: 100%;
}

#resultatJoueur {
    margin-top:50px;
}

#resultatJoueur table td{
    text-align:center;
    padding-top:20px;
}

#valider{
    margin-bottom: 30px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0B0633;
    border: none;
    border-radius: 15px;
}

/*StatPage CSS*/

.mainStatPage h1{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.pie{
    display: flex;
    align-items: center;
    width: 100%;
}

.left{
    display: flex;
    margin: 0 auto;
    width: 40%;
    position: relative;
    justify-content: center;
    padding: 20px;
}

.right{
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
}

.right table{
    table-layout: auto;
}

.mainStatPage .button{
    display: inline-block;
    padding: 5px 10px;
    margin: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0B0633;
    border: none;
    border-radius: 15px;
}

/* CSS footer */

footer{
    height: auto;
    width: 100%;
    padding-top: 40px;
    margin-top: auto;
    color: #fff;
    background: #0B0633;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerContent h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footerContent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

