*{
    margin : 0;
    padding : 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    box-sizing : border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* nav bar*/
nav{
    height: 80px;
    width: 100%;
    background-color: #0B0633;
}

label.logo{
    line-height: 80px;
    padding : 0 100px;
}

nav ul{
    float : right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding : 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li .Disconnect{
    border-radius: 30px;
    background: #3b375b;
    color: white;
    padding : 7px 13px;
    transition: .5s;
    margin: 0 15px;
    text-transform: none;

}

nav a.active , nav a:hover {
    background-color: #3b375b;
    color: yellow;
    transition: .5s;
}

.checkBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1285px) {
    label.logo{
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .checkBtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3b375b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s easy;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li .Disconnect{
        color: white;
    }
    a:hover,a.active{
        background: none;
        color: yellow;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* LoginPage CSS*/
.loginInBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0B0633;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #3b375b;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top:-50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(135deg, #3b375b, yellow);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(135deg, #3b375b, yellow);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #0B0633;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color : yellow;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color : #0B0633;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: gray;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color : yellow;
    transform: translateY(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: yellow;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.loginInBody input[type="submit"]{
    border: none;
    outline: none;
    background: yellow;
    padding: 11px 11px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

/* PlayerList css*/
h1.pageTitle{
    width : 100%;
    text-align: center;
    padding: 2%;
}

.addButton{
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
}

button{
    float : right;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0B0633;
    border: none;
    border-radius: 15px;
}

.tablePlayer{
    width: 70%;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0B0633;
    color: white;
}
/* AddPlayer css*/
.addPlayerBody, .modifyPlayerBody{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0B0633, yellow );
}

.container{
    max-width: 70%;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content :'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #3b375b, yellow );
}

.container form .playerDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .playerDetails .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.playerDetails .input-box input , .playerDetails .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.playerDetails .input-box input:focus , .playerDetails .input-box input:valid{
    border-color: #3b375b ;
}

.playerDetails .input-box select:focus, .playerDetails .input-box select:valid{
    border-color: #3b375b ;
}

.playerDetails .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3b375b, yellow );
}

form .button input:hover{
    background: linear-gradient(-135deg, #3b375b, yellow )
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .playerDetails .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .playerDetails{
        max-height:  300px;
        overflow: scroll;
    }

    .playerDetails::-webkit-scrollbar{
        width: 0;
    }
}

/* CSS footer */

footer{
    height: auto;
    width: 100%;
    padding-top: 40px;
    margin-top: auto;
    color: #fff;
    background: #0B0633;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerContent h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footerContent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

